
<!-- Entêtes HTML à ajouter -->
{% block header %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/accueil.css') }}">
	<link rel="stylesheet" href="{{ asset('css/monstyle.css') }}">
{% endblock %}

<!-- code HTML commun à toutes les pages du site -->
<nav>
	<a href="index.php">accueil</a>
	<a href="index.php?page=form_auteur">Back-office</a>
</nav>

<!-- bloc pouvant être spécialisé -->
{% block page %}
<p>Page d'accueil</p>
{% block content %}

{% endblock content %}
{% endblock %}

<!-- fin du bloc spécialisé -->
