{% extends 'base.twig' %}
{% block content %}

	{% for element in elements %}
	<article class="article_{{ element.id }}">
<div class="contenu">
		{% if element.type == 'text' %}
			{% include 'blocs/text.twig' %}
		{% elseif element.type == 'img' %}
			{% include 'blocs/image.twig' %}
		{% elseif element.type == 'vid' %}
			{% include 'blocs/video.twig' %}
		{% elseif element.type == 'link' %}
			{% include 'blocs/link.twig' %}
		{% endif %}
</div>
	{% endfor %}
{% endblock %}

